

header.header-navbar { 
    position: fixed;
    top: 0;
    z-index: 999;
  }


div.line-decoration-space { 
    /* background-color: red; */
    width: 100%;
    height: 5vh;

    margin-bottom: 10vh;

    display: grid;
    place-items: center;

    aside { 
        /* background-color: green; */
        width: 85%;
        height: 5vh;


        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;

        h2 {
            color: #000;
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            margin: 3vh 0 2vh 0;
        }

        div { 
            background-color: #4F4F4F;
            width: 100%;
            height: 2vh;
        }
    }
}


section.quienesSomos-section {
    /* background-color: blue; */
    width: 100%;
    min-height: 80vh;
    margin-bottom: 15vh;

    display: flex;
    align-items: center;
    justify-content: center;

    div.quienesSomos-space{
        /* background-color: red; */
        width: 95%;
        min-height: 80vh;

        display: flex;
        align-items: center;
        justify-content: center;

        article.articulo-space { 
            background-color: #fff;
            width: 50%;
            height: 120vh;

            border-left: 30px solid #F20707;
            box-shadow: 12px 10px 25px 10px rgba(0, 0, 0, 0.25);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;

            h1 { 
                color: #000;
                font-size: 40px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;

                width: 75%;
                margin-top: 7.5vh;
                margin-bottom: 5vh;
            }

            p { 
                text-align: justify;
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 199.992%; /* 31.999px */
                letter-spacing: 0.64px;

                width: 75%;
            }

            }
    
        aside.imagen-space { 
            background-color: transparent;
            width: 50%;
            height: 120vh;

            display: grid;
            place-items: center;

            img { 
                width: 100%;
                height: auto;
            }
        }
    }
}


section.historia-section { 
    /* background-color: red; */
    width: 100%;
    min-height: 100vh;
    margin-bottom: 15vh;

    display: grid;
    place-items: center;

    div.historia-space {
        /* background-color: red; */
        width: 95%;
        min-height: 80vh;

        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;

        article.articulo-space { 
            background-color: #fff;
            width: 50%;
            height: 120vh;

            border-right: 30px solid #F20707;
            box-shadow: -12px 10px 25px 10px rgba(0, 0, 0, 0.25);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;

            h1 { 
                color: #000;
                font-size: 40px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;

                width: 75%;
                margin-top: 7.5vh;
                margin-bottom: 5vh;
            }

            p { 
                text-align: justify;
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 199.992%; /* 31.999px */
                letter-spacing: 0.64px;

                width: 75%;
            }

            }
    
        aside.imagen-space { 
            background-color: transparent;
            width: 50%;
            height: 120vh;

            display: grid;
            place-items: center;

            img { 
                width: 100%;
                height: auto;
            }
        }
    }
}

/*************** Pantallas Grandes Desktop, TV, < 2000px *******************/
@media (min-width: 2000px) and (orientation: landscape) {  
    
    div.line-decoration-space { 
        /* background-color: red; */
        width: 100%;
        height: 5vh;
    
        margin-bottom: 10vh;
    
        display: grid;
        place-items: center;
    
        aside { 
            /* background-color: green; */
            width: 85%;
            height: 5vh;
    
    
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: end;
    
            h2 {
                color: #000;
                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
    
                margin: 3vh 0 2vh 0;
            }
    
            div { 
                background-color: #4F4F4F;
                width: 100%;
                height: 2vh;
            }
        }
    }
    
    
    section.quienesSomos-section {
        /* background-color: blue; */
        width: 100%;
        min-height: 80vh;
        margin-bottom: 15vh;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        div.quienesSomos-space{
            /* background-color: red; */
            width: 95%;
            min-height: 80vh;
    
            display: flex;
            align-items: center;
            justify-content: center;
    
            article.articulo-space { 
                background-color: #fff;
                width: 50%;
                height: 120vh;
    
                border-left: 30px solid #F20707;
                box-shadow: 12px 10px 25px 10px rgba(0, 0, 0, 0.25);
    
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
    
                h1 { 
                    color: #000;
                    font-size: 80px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
    
                    width: 75%;
                    margin-top: 7.5vh;
                    margin-bottom: 5vh;
                }
    
                p { 
                    text-align: justify;
                    color: #000;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 199.992%; /* 31.999px */
                    letter-spacing: 0.64px;
    
                    width: 75%;
                }
    
                }
        
            aside.imagen-space { 
                background-color: transparent;
                width: 50%;
                height: 120vh;
    
                display: grid;
                place-items: center;
    
                img { 
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    
    
    section.historia-section { 
        /* background-color: red; */
        width: 100%;
        min-height: 100vh;
        margin-bottom: 15vh;
    
        display: grid;
        place-items: center;
    
        div.historia-space {
            /* background-color: red; */
            width: 95%;
            min-height: 80vh;
    
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
    
            article.articulo-space { 
                background-color: #fff;
                width: 50%;
                height: 120vh;
    
                border-right: 30px solid #F20707;
                box-shadow: -12px 10px 25px 10px rgba(0, 0, 0, 0.25);
    
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
    
                h1 { 
                    color: #000;
                    font-size: 80px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
    
                    width: 75%;
                    margin-top: 7.5vh;
                    margin-bottom: 5vh;
                }
    
                p { 
                    text-align: justify;
                    color: #000;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 199.992%; /* 31.999px */
                    letter-spacing: 0.64px;
    
                    width: 75%;
                }
    
                }
        
            aside.imagen-space { 
                background-color: transparent;
                width: 50%;
                height: 120vh;
    
                display: grid;
                place-items: center;
    
                img { 
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

/*************** Pantallas laptop, > 1024px *******************/
@media (max-width: 1024px) and (orientation: landscape) {
    

    div.line-decoration-space { 
        /* background-color: red; */
        width: 100%;
        height: 5vh;

        margin-bottom: 10vh;

        display: grid;
        place-items: center;

        aside { 
            /* background-color: green; */
            width: 85%;
            height: 5vh;


            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: end;

            h2 {
                color: #000;
                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                margin: 3vh 0 2vh 0;
            }

            div { 
                background-color: #4F4F4F;
                width: 100%;
                height: 2vh;
            }
        }
    }


    section.quienesSomos-section {
        /* background-color: blue; */
        width: 100%;
        min-height: 80vh;
        margin-bottom: 15vh;

        display: flex;
        align-items: center;
        justify-content: center;

        div.quienesSomos-space{
            /* background-color: red; */
            width: 95%;
            min-height: 80vh;

            display: flex;
            align-items: center;
            justify-content: center;

            article.articulo-space { 
                background-color: #fff;
                width: 50%;
                height: 120vh;

                border-left: 30px solid #F20707;
                box-shadow: 12px 10px 25px 10px rgba(0, 0, 0, 0.25);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;

                h1 { 
                    color: #000;
                    font-size: 34px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;

                    width: 75%;
                    margin-top: 7.5vh;
                    margin-bottom: 5vh;
                }

                p { 
                    text-align: justify;
                    color: #000;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 199.992%; /* 31.999px */
                    letter-spacing: 0.64px;

                    width: 75%;
                }

                }
        
            aside.imagen-space { 
                background-color: transparent;
                width: 50%;
                height: 120vh;

                display: grid;
                place-items: center;

                img { 
                    width: 100%;
                    height: auto;
                }
            }
        }
    }


    section.historia-section { 
        /* background-color: red; */
        width: 100%;
        min-height: 100vh;
        margin-bottom: 15vh;

        display: grid;
        place-items: center;

        div.historia-space {
            /* background-color: red; */
            width: 95%;
            min-height: 80vh;

            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;

            article.articulo-space { 
                background-color: #fff;
                width: 50%;
                height: 120vh;

                border-right: 30px solid #F20707;
                box-shadow: -12px 10px 25px 10px rgba(0, 0, 0, 0.25);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;

                h1 { 
                    color: #000;
                    font-size: 34px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;

                    width: 75%;
                    margin-top: 7.5vh;
                    margin-bottom: 5vh;
                }

                p { 
                    text-align: justify;
                    color: #000;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 199.992%; /* 31.999px */
                    letter-spacing: 0.64px;

                    width: 75%;
                }

                }
        
            aside.imagen-space { 
                background-color: transparent;
                width: 50%;
                height: 120vh;

                display: grid;
                place-items: center;

                img { 
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

/*************** Pantallas tablet, > 900px *******************/
@media (max-width: 900px) and (orientation: portrait) {
    

    div.line-decoration-space { 
        /* background-color: red; */
        width: 100%;
        height: 5vh;

        margin-bottom: 10vh;

        display: grid;
        place-items: center;

        aside { 
            /* background-color: green; */
            width: 85%;
            height: 5vh;


            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: end;

            h2 {
                color: #000;
                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                margin: 3vh 0 2vh 0;
            }

            div { 
                background-color: #4F4F4F;
                width: 100%;
                height: 2vh;
            }
        }
    }


    section.quienesSomos-section {
        /* background-color: blue; */
        width: 100%;
        min-height: 80vh;
        margin-bottom: 10vh;

        display: flex;
        align-items: center;
        justify-content: center;

        div.quienesSomos-space{
            /* background-color: yellow; */
            width: 95%;
            min-height: 80vh;

            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;

            article.articulo-space { 
                background-color: #fff;
                width: 80%;
                height: 70vh;

                border-left: 30px solid #F20707;
                box-shadow: 12px 10px 25px 10px rgba(0, 0, 0, 0.25);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;

                position: relative;
                right: 7.5vw;
                z-index: 1;

                h1 { 
                    color: #000;
                    font-size: 34px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;

                    width: 75%;
                    margin-top: 7.5vh;
                    margin-bottom: 5vh;
                }

                p { 
                    text-align: justify;
                    color: #000;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 199.992%; /* 31.999px */
                    letter-spacing: 0.64px;

                    width: 75%;
                }

                }
        
            aside.imagen-space { 
                /* background-color: green; */
                width: 90%;
                height: 18vh;

                /* display: flex;
                align-items: center;
                justify-content: end; */
                position: relative;


                img {
                    position: absolute;
                    bottom: -18vh;
                    right: -5vw; 
                    width: 50vw;
                    height: auto;
                }
            }
        }
    }


    section.historia-section { 
        /* background-color: blue; */
        width: 100%;
        min-height: 100vh;
        margin-bottom: 10vh;

        display: grid;
        place-items: center;

        div.historia-space {
            /* background-color: yellow; */
            width: 95%;
            min-height: 80vh;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            article.articulo-space { 
                background-color: #fff;
                width: 80%;
                height: 70vh;

                border-right: 30px solid #F20707;
                box-shadow: -12px 10px 25px 10px rgba(0, 0, 0, 0.25);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;

                position: relative;
                left: 7.5vw;
                z-index: 1;

                h1 { 
                    color: #000;
                    font-size: 34px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;

                    width: 75%;
                    margin-top: 7.5vh;
                    margin-bottom: 5vh;
                }

                p { 
                    text-align: justify;
                    color: #000;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 199.992%; /* 31.999px */
                    letter-spacing: 0.64px;

                    width: 75%;
                }

                }
        
            aside.imagen-space { 
                /* background-color: green; */
                width: 90%;
                height: 30vh;

                position: relative;


                img {
                    position: absolute;
                    top: -5vh;
                    left: -5vw; 
                    width: 60vw;
                    height: auto;
                }
            }
        }
    }
}



/*************** Pantallas Movil, > 600px *******************/
@media (max-width: 600px) and (orientation: portrait) {
    

    div.line-decoration-space { 
        /* background-color: red; */
        width: 100%;
        height: 5vh;

        margin-bottom: 10vh;

        display: grid;
        place-items: center;

        aside { 
            /* background-color: green; */
            width: 85%;
            height: 5vh;


            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: end;

            h2 {
                color: #000;
                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                margin: 3vh 0 2vh 0;
            }

            div { 
                background-color: #4F4F4F;
                width: 100%;
                height: 2vh;
            }
        }
    }


    section.quienesSomos-section {
        /* background-color: blue; */
        width: 100%;
        min-height: 80vh;
        margin-bottom: 10vh;

        display: flex;
        align-items: center;
        justify-content: center;

        div.quienesSomos-space{
            /* background-color: yellow; */
            width: 95%;
            min-height: 80vh;

            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;

            article.articulo-space { 
                background-color: #fff;
                width: 80%;
                height: 70vh;

                border-left: 30px solid #F20707;
                box-shadow: 12px 10px 25px 10px rgba(0, 0, 0, 0.25);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;

                position: relative;
                right: 7.5vw;
                z-index: 1;

                h1 { 
                    color: #000;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;

                    width: 75%;
                    margin-top: 4vh;
                    margin-bottom: 2vh;
                }

                p { 
                    text-align: justify;
                    color: #000;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 199.992%; /* 31.999px */
                    letter-spacing: 0.64px;

                    width: 80%;
                }

                }
        
            aside.imagen-space { 
                /* background-color: green; */
                width: 90%;
                height: 10vh;

                /* display: flex;
                align-items: center;
                justify-content: end; */
                position: relative;


                img {
                    position: absolute;
                    bottom: -18vh;
                    right: -5vw; 
                    width: 50vw;
                    height: auto;
                }
            }
        }
    }


    section.historia-section { 
        /* background-color: blue; */
        width: 100%;
        min-height: 100vh;
        margin-bottom: 10vh;

        display: grid;
        place-items: center;

        div.historia-space {
            /* background-color: yellow; */
            width: 95%;
            min-height: 80vh;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            article.articulo-space { 
                background-color: #fff;
                width: 80%;
                height: 70vh;

                border-right: 30px solid #F20707;
                box-shadow: -12px 10px 25px 10px rgba(0, 0, 0, 0.25);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;

                position: relative;
                left: 7.5vw;
                z-index: 1;

                h1 { 
                    color: #000;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;

                    width: 75%;
                    margin-top: 3vh;
                    margin-bottom: 1vh;
                }

                p { 
                    text-align: justify;
                    color: #000;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 199.992%; /* 31.999px */
                    letter-spacing: 0.64px;

                    width: 80%;
                }

                }
        
            aside.imagen-space { 
                /* background-color: green; */
                width: 90%;
                height: 22vh;

                position: relative;


                img {
                    position: absolute;
                    top: -5vh;
                    left: -5vw; 
                    width: 60vw;
                    height: auto;
                }
            }
        }
    }
}

/*************** Pantallas Movil S, > 320px *******************/
@media (max-width: 320px) and (orientation: portrait) {
    

    div.line-decoration-space { 
        /* background-color: red; */
        width: 100%;
        height: 5vh;

        margin-bottom: 10vh;

        display: grid;
        place-items: center;

        aside { 
            /* background-color: green; */
            width: 85%;
            height: 5vh;


            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: end;

            h2 {
                color: #000;
                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                margin: 3vh 0 2vh 0;
            }

            div { 
                background-color: #4F4F4F;
                width: 100%;
                height: 2vh;
            }
        }
    }


    section.quienesSomos-section {
        /* background-color: blue; */
        width: 100%;
        min-height: 80vh;
        margin-bottom: 10vh;

        display: flex;
        align-items: center;
        justify-content: center;

        div.quienesSomos-space{
            /* background-color: yellow; */
            width: 95%;
            min-height: 80vh;

            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;

            article.articulo-space { 
                background-color: #fff;
                width: 80%;
                height: 70vh;

                border-left: 30px solid #F20707;
                box-shadow: 12px 10px 25px 10px rgba(0, 0, 0, 0.25);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;

                position: relative;
                right: 7.5vw;
                z-index: 1;

                h1 { 
                    color: #000;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;

                    width: 75%;
                    margin-top: 2vh;
                    margin-bottom: 1vh;
                }

                p { 
                    text-align: justify;
                    color: #000;
                    font-size: 9px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 199.992%; /* 31.999px */
                    letter-spacing: 0.64px;

                    width: 90%;
                }

                }
        
            aside.imagen-space { 
                /* background-color: green; */
                width: 90%;
                height: 10vh;

                /* display: flex;
                align-items: center;
                justify-content: end; */
                position: relative;


                img {
                    position: absolute;
                    bottom: -18vh;
                    right: -5vw; 
                    width: 50vw;
                    height: auto;
                }
            }
        }
    }


    section.historia-section { 
        /* background-color: blue; */
        width: 100%;
        min-height: 100vh;
        margin-bottom: 10vh;

        display: grid;
        place-items: center;

        div.historia-space {
            /* background-color: yellow; */
            width: 95%;
            min-height: 80vh;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            article.articulo-space { 
                background-color: #fff;
                width: 80%;
                height: 75vh;

                border-right: 30px solid #F20707;
                box-shadow: -12px 10px 25px 10px rgba(0, 0, 0, 0.25);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;

                position: relative;
                left: 7.5vw;
                z-index: 1;

                h1 { 
                    color: #000;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;

                    width: 75%;
                    margin-top: 2vh;
                    margin-bottom: 1vh;
                }

                p { 
                    text-align: justify;
                    color: #000;
                    font-size: 9px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 199.992%; /* 31.999px */
                    letter-spacing: 0.64px;

                    width: 90%;
                }

                }
        
            aside.imagen-space { 
                /* background-color: green; */
                width: 90%;
                height: 22vh;

                position: relative;


                img {
                    position: absolute;
                    top: -5vh;
                    left: -5vw; 
                    width: 60vw;
                    height: auto;
                }
            }
        }
    }
}
