
a.Card-section{ 
    /* background-color: red; */
    width: 15vw;
    height: 35vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    text-decoration: none;

    aside.image-card-space{ 
        background-color: #CDD1D4;
        width: 100%;
        height: 75%;
        border-radius: 30px 30px 0px 0px;
        border: 2px solid #000;
        border-bottom: 0px;

        img { 
            width: 100%;
            height: 100%;
        }

    }

    article.text-card-space{
        background-color: #fff;
        width: 100%;
        height: 25%;
        border-radius: 0px 0px 30px 30px;
        border: 2px solid #000;

        display: flex;
        align-items: center;
        justify-content: center;

        h1 { 
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 800;
            line-height: 124%; /* 24.8px */
            text-align: center;
        }
    }
}