.social-media { 
  /* background-color: blue; */
  width: 5rem;
  height: 10rem;
  position: fixed;
  bottom: 0vh;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  
  .circle-icon {
    background-color: #fff;
    width: 3.5rem;
    height: 3.5rem;
    margin: 5px 0;
    border: 4px solid #F20707;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 3rem;
      height: 3rem;
      }
      
      
    .whatsappIcon {
      width: 3.25rem !important;
      height: 3.25rem !important;
    }
  }
    
    
  .bubbleChat {
    position: absolute;
    bottom: 15%;
    left: -225%;  
    width: 12rem;
    height: 4rem;
    /* border: 1px solid red; */
    display: flex;
      
    .squareBubble {
      background-color: #fff;
      width: 12rem;
      height: 4rem;
      border: 1px solid #000;
      border-radius: 8px;
      line-height: 1px;
      text-align: left;

      h4 {
        margin-left: 12px;
        font-size: 1rem;
      }
        
      p {
        margin-left: 12px;
        font-size: .8rem;
      }
    }
        
    .trianguleBubble {
    
    position: relative;
    top: 55%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent; /* Lado izquierdo transparente */
    border-bottom: 10px solid transparent; /* Lado derecho transparente */
    border-left: 20px solid #000; /* Lado inferior sólido (el color define el color del triángulo) */
    }  
  }   
}
  


    /*************** Pantallas Desktop/Tv o mayores 1440px *******************/
@media (min-width: 2000px) and (orientation: landscape)  {
  .social-media { 
    /* background-color: blue; */
    width: 10rem;
    height: 20rem;
    position: fixed;
    bottom: 0vh;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    
    .circle-icon {
      background-color: #fff;
      width: 7rem;
      height: 7rem;
      margin: 5px 0;
      border: 8px solid #F20707;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
  
      img {
        width: 6rem !important;
        height: 6rem !important;
        }
        
        
      .whatsappIcon {
        width: 6.5rem !important;
        height: 6.5rem !important;
      }
    }
      
      
    .bubbleChat {
      position: absolute;
      bottom: 15%;
      left: -225%;  
      width: 24rem;
      height: 8rem;
      /* border: 1px solid red; */
      display: flex;
        
      .squareBubble {
        background-color: #fff;
        width: 24rem;
        height: 8rem;
        border: 1px solid #000;
        border-radius: 16px;
        line-height: 2px;
        text-align: center;

        
  
        h4 {
          margin-left: 12px;
          font-size: 2.1rem;
        }
          
        p {
          margin-left: 12px;
          font-size: 1.6rem;
        }
      }
          
      .trianguleBubble {
      
      position: relative;
      top: 55%;
      width: 0;
      height: 0;
      border-top: 20px solid transparent; /* Lado izquierdo transparente */
      border-bottom: 20px solid transparent; /* Lado derecho transparente */
      border-left: 40px solid #000 /* Lado inferior sólido (el color define el color del triángulo) */
      }  
    }   
  }
}
    
    
/*************** Pantallas Laptop, 1024px *******************/
@media (max-width: 1024px) {
  .social-media { 
    /* background-color: blue; */
    width: 5rem;
    height: 10rem;
    position: fixed;
    bottom: 0vh;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    
    .circle-icon {
      background-color: #fff;
      width: 3.5rem;
      height: 3.5rem;
      margin: 5px 0;
      border: 4px solid #F20707;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
  
      img {
        width: 3rem;
        height: 3rem;
        }
        
        
      .whatsappIcon {
        width: 3.25rem !important;
        height: 3.25rem !important;
      }
    }
      
      
    .bubbleChat {
      position: absolute;
      bottom: 15%;
      left: -225%;  
      width: 12rem;
      height: 4rem;
      /* border: 1px solid red; */
      display: flex;
        
      .squareBubble {
        background-color: #fff;
        width: 12rem;
        height: 4rem;
        border: 1px solid #000;
        border-radius: 8px;
        line-height: 1px;
        text-align: left;
  
        h4 {
          margin-left: 12px;
          font-size: 1rem;
        }
          
        p {
          margin-left: 12px;
          font-size: .8rem;
        }
      }
          
      .trianguleBubble {
      
      position: relative;
      top: 55%;
      width: 0;
      height: 0;
      border-top: 10px solid transparent; /* Lado izquierdo transparente */
      border-bottom: 10px solid transparent; /* Lado derecho transparente */
      border-left: 20px solid #000; /* Lado inferior sólido (el color define el color del triángulo) */
      }  
    }   
  }
}


/*************** Pantallas Laptop, 900px *******************/
@media (max-width: 900px) and (orientation: portrait) {
  .social-media { 
    /* background-color: blue; */
    width: 7rem;
    height: 17rem;
    position: fixed;
    bottom: 0vh;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    z-index: 2;

    
    .circle-icon {
      background-color: #fff;
      width: 5.5rem;
      height: 5.5rem;
      margin: 5px 0;
      border: 4px solid #F20707;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
  
      img {
        width: 4.75rem;
        height: 4.75rem;
        }
        
        
      .whatsappIcon {
        width: 5.25rem !important;
        height: 5.25rem !important;
      }
    }
      
      
    .bubbleChat {
      position: absolute;
      bottom: 15%;
      left: -220%;  
      width: 15rem;
      height: 6rem;
      /* border: 1px solid red; */
      display: flex;
        
      .squareBubble {
        background-color: #fff;
        width: 15rem;
        height: 6rem;
        border: 1px solid #000;
        border-radius: 8px;
        line-height: 1px;
        text-align: left;
  
        h4 {
          margin-left: 12px;
          font-size: 1.5rem;
        }
          
        p {
          margin-left: 12px;
          font-size: 1rem;
        }
      }
          
      .trianguleBubble {
      
      position: relative;
      top: 55%;
      width: 0;
      height: 0;
      border-top: 10px solid transparent; /* Lado izquierdo transparente */
      border-bottom: 10px solid transparent; /* Lado derecho transparente */
      border-left: 20px solid #000; /* Lado inferior sólido (el color define el color del triángulo) */
      }  
    }   
  }
}
    
    
    
    
    /*************** Pantallas moviles L/M/S, 768px *******************/
    @media (max-width: 500px) {
 
    
    .social-media { 
      display: none;
    }
    
    
    }